# t5-base-fintuned-wikiSQL

In [10]:
# Use a pipeline as a high-level helper
from transformers import AutoModelWithLMHead, AutoTokenizer
from datasets import load_dataset, Split

In [11]:

tokenizer = AutoTokenizer.from_pretrained("mrm8488/t5-base-finetuned-wikiSQL")
model = AutoModelWithLMHead.from_pretrained("mrm8488/t5-base-finetuned-wikiSQL")

def get_sql(query):
  input_text = "translate English to SQL: %s </s>" % query
  features = tokenizer([input_text], return_tensors='pt')

  output = model.generate(input_ids=features['input_ids'], 
               attention_mask=features['attention_mask'])
  
  return tokenizer.decode(output[0])

The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.
The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.
The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.
/data/rlhf/miniconda3/envs/finetune/lib/python3.10/site-packages/transformers/models/auto/modeling_auto.py:1437: FutureWarning: The class `AutoModelWithLMHead` is deprecated and will be removed in a future version. Please use `AutoModelForCausalLM` for causal language models, `AutoModelForMaskedLM` for masked language models and `AutoModelForSeq2SeqLM` for encoder-decoder models.
  warnings.warn(
The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.

'<pad> SELECT COUNT Model fine tuned FROM table WHERE Base model = BERT</s>'

In [4]:
valid_dataset = load_dataset('wikisql', split=Split.VALIDATION)

Downloading builder script:   0%|          | 0.00/6.57k [00:00<?, ?B/s]

Downloading metadata:   0%|          | 0.00/2.76k [00:00<?, ?B/s]

Downloading readme:   0%|          | 0.00/7.80k [00:00<?, ?B/s]

Downloading and preparing dataset wikisql/default to /data/rlhf/.cache/huggingface/datasets/wikisql/default/0.1.0/7037bfe6a42b1ca2b6ac3ccacba5253b1825d31379e9cc626fc79a620977252d...

Downloading data:   0%|          | 0.00/26.2M [00:00<?, ?B/s]

Generating test split:   0%|          | 0/15878 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/8421 [00:00<?, ? examples/s]

Generating train split:   0%|          | 0/56355 [00:00<?, ? examples/s]

Dataset wikisql downloaded and prepared to /data/rlhf/.cache/huggingface/datasets/wikisql/default/0.1.0/7037bfe6a42b1ca2b6ac3ccacba5253b1825d31379e9cc626fc79a620977252d. Subsequent calls will reuse this data.

In [14]:
valid_dataset['sql'][i]['human_readable']

'SELECT Position FROM table WHERE School/Club Team = Butler CC (KS)'

In [15]:
for i in [0, 50, 100, 200, 500, 1000]:
    sql = valid_dataset['sql'][i]['human_readable']
    question = valid_dataset['question'][i]
    generated = get_sql(question)
    print('='*50)
    print(question)
    print('Ideal Answer:\t' + sql)
    print('Generated:\t' + generated)

==================================================
What position does the player who played for butler cc (ks) play?
Ideal Answer:	SELECT Position FROM table WHERE School/Club Team = Butler CC (KS)
Generated:	<pad> SELECT Position FROM table WHERE School/Club Team = Butler CCC (
==================================================
How many winning drivers were the for the rnd equalling 5?
Ideal Answer:	SELECT COUNT Winning driver FROM table WHERE Rnd = 5
Generated:	<pad> SELECT COUNT Winning driver FROM table WHERE Rnd = 5</s>
==================================================
List the scores of all games when Miami were listed as the first Semi finalist
Ideal Answer:	SELECT Score FROM table WHERE Semi-Finalist #1 = Miami
Generated:	<pad> SELECT Score FROM table WHERE Semi finalist = Miami</s>
==================================================
 what's the evening gown where state is south dakota
Ideal Answer:	SELECT Evening Gown FROM table WHERE State = South Dakota
Generated:	<pad> SELECT Evening Gown FROM table WHERE State = South Dakota</s>
==================================================
The common of Chieri has what population density?
Ideal Answer:	SELECT Density (inhabitants/km 2 ) FROM table WHERE Common of = Chieri
Generated:	<pad> SELECT Population density FROM table WHERE Common = chiri</s>
==================================================
Nagua has the area (km²) of?
Ideal Answer:	SELECT Area (km²) FROM table WHERE Capital = Nagua
Generated:	<pad> SELECT Area (km2) FROM table WHERE City = nagua</s>